body {
    font-family: 'Courier New', Courier, monospace;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.footer-link {
    height: 40px;
    margin: 0 5px;
}

header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: .25rem .5rem;
    background-color: rgb(223, 223, 223);
    border-bottom: 1px solid;
}

.title {
    grid-column: 1;
}

.pageTitle {
    grid-column: 2;
    text-align: center;
}

.links {
    grid-column: 3;
    text-align: right;
}

code {
    background-color: aliceblue;
}

p img {
    width: 75%;
}

code {
    border: 1px dotted #999;
    background-color: #f0f0f0;
    padding: 1px 2px;
    word-wrap: break-word
}

pre {
    border: 1px solid #999;
    background-color: #f0f0f0;
    padding: 5px;
    overflow: auto
}

pre code {
    border: 0;
    background: none;
    padding: 0;
}
