  <header>
    {{ with .Site.Menus.entries -}}
      <nav>
      {{ range . -}}
        <a href="{{ .URL }}">{{ if .Name }}{{ .Name }}{{ else }}{{ replace .Identifier "-" " " | title }}{{ end }}</a>
      {{ end -}}
      </nav>
    {{ end -}}
      <div>
        <h1><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
        {{- if .Site.Params.subtitle }}<h2>{{ .Site.Params.subtitle }}</h2>{{- end }}
      </div>
      <nav>
        {{- range .Site.Menus.main -}}
        <a href="{{ .URL }}">{{ .Name }}</a>
        {{- end -}}
      </nav>
    </header>
